<% title "Ingreso" %>
<%= form_tag sessions_path do %>
  <div data-role="fieldcontain">
    <%= label_tag :login, "Usuario o Email" %>
    <%= text_field_tag :login, params[:login] ,:class=>"auto-focus"%>
  </div>
  <div data-role="fieldcontain">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
<div class="ui-body ui-body-b">
        <fieldset class="ui-grid-a">
          <div class="ui-block-a">
            <button id="btnCancel" data-theme="d"
              data-icon="delete">Cancelar</button>
          </div>
          <div class="ui-block-b">
            <button id="btnLogin" type="submit"
              data-theme="a" data-icon="check" data-transition="fade">Ingresar</button>       
          </div>
        </fieldset>
      </div>
<% end %>
