<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <div data-role="fieldcontain">
    <%= f.label :comercio , 'Comercio' %>
    <%= f.text_field :comercio %>
  </div>
   <div data-role="fieldcontain">
    <%= f.label :nombre , 'Nombre' %>
    <%= f.text_field :nombre %>
    </div>
   <div data-role="fieldcontain">
    <%= f.label :username,'Usuario' %>
    <%= f.text_field :username %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
   <div data-role="fieldcontain">
    <%= f.label :password_confirmation, "Confirmar Password" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div><%= f.submit (@user.new_record? ? "Crear cuenta" : "Update") %></div>
<% end %>
