<div class="lcddisplay dotmatrix">
Error en el proceso

Imprimiendo Error de Logueo
<% @order.transactions.each do |transaction| %>
  Estado:<%=transaction.message%><br/>
  Orden:<%=transaction.order_id%><br/>
  Tipo Operacion:<%=transaction.action%><br/>
  Monto en centavos:<%=transaction.amount%><br/>
  Autorización:<%=transaction.authorization%><br/>
  Data:<%=transaction.params.each do |p|%>
    <%=p.to_s%><br/>
  <%end %>
<%end%>
</div>
<%= button_to "Nueva Compra", root_path  %>
