<% title "Procesar Compra" %>

<%= form_for @order do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :amount,'Monto Compra' %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :description,'Descripccion Venta' %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :finana,'Cuotas'%> <br/>
    <%= f.text_field :finana %>
  </p>
    <p>
    <%= f.label :first_name,'Nombres' %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name,'Apellido' %><br />
    <%= f.text_field :last_name %>
  </p>
<p>
    <%= f.label :card_type, 'Tarjeta' %><br />
    <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
  </p>
<p>
    <%= f.label :card_number,'Numero Tarjeta' %><br />
    <%= f.text_field :card_number %>
  </p>
  <p>
    <%= f.label :card_verification, "Digitos Verificadores (PIN)" %><br />
    <%= f.text_field :card_verification %>
  </p>
  <p>
    <%= f.label :card_expires_on,'Fecha Vencimiento' %><br />
    <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
  </p>
     <p><%= f.submit 'Procesar' %></p>
<% end %>


