<% title "Pago Electrónico" %>

<%= form_for @order do |f| %>
  <%= f.error_messages %>
  <fieldset class="container_12">
    <div class="grid_2"><%= f.label :card_number,'Numero Tarjeta' %></div>
    <div class="grid_8"><%= f.text_field :card_number ,:class=>"auto-focus" %></div>
    <div class="grid_2"><%= submit_tag "Validar"%></div>
  </fieldset>
  <fieldset class="container_12">
    <div class="grid_2"><%= f.label :first_name,'Nombres' %></div>
    <div class="grid_5"><%= f.text_field :first_name %></div>
    <div class="grid_5"><%= f.text_field :last_name %></div>
  </fieldset>
  <div data-role="fieldcontain">
    <%= f.label :amount,'Monto Compra' %>
    <%= f.text_field :amount ,:class=> "keyboardInput" %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :finana,'Cuotas'%> 
    <%= f.range_field :finana ,:value=>1, :in => 1..36 %>
  </div>
   <div data-role="fieldcontain">
    <%= f.label :card_type, 'Tarjeta' %>
    <%= f.select :card_type, [["PortaCash","visa"],["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
  </div>
  <div data-role="fieldcontain">
      <%= f.label :card_verification, "Digitos de control (PIN)" %>
      <%= f.password_field :card_verification, :size => 4 ,:class=>"keyboardInput"%>
  </div>
  <div class="ui-body ui-body-b">
    <fieldset class="ui-grid-a">
      <div class="ui-block-a"><%= f.label :card_expires_on,'Fecha Vencimiento' %></div>
      <div class="ui-block-b"><%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %></div>
   </fieldset>
   </div>
  <div class="ui-body ui-body-b">
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <button id="btnCancel" data-theme="d" type="reset" data-icon="delete">Cancelar</button>
          </div>
          <div class="ui-block-b">
            <button id="btnLogin" type="submit" data-theme="a" data-icon="check">Procesar</button>       
          </div>
        </fieldset>
      </div>
    <% end %>
