<% title "Procesar Compra" %>

<%= form_for @order do |f| %>
  <%= f.error_messages %>
  <div data-role="fieldcontain">
    <%= f.label :card_number,'Numero Tarjeta' %>
    <%= f.text_field :card_number ,:class=>"auto-focus" %>
  </div>
    <div data-role="fieldcontain">
    <%= f.label :description,'Descripccion Venta' %>
    <%= f.text_area :description %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :amount,'Monto Compra' %>
    <%= f.number_field :amount %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :finana,'Cuotas'%> 
    <%= f.range_field :finana ,:value=>1, :in => 1..36 %>
  </div>
    <div data-role="fieldcontain">
    <%= f.label :first_name,'Nombres' %>
    <%= f.text_field :first_name %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :last_name,'Apellido' %>
    <%= f.text_field :last_name %>
  </div>
<div data-role="fieldcontain">
    <%= f.label :card_type, 'Tarjeta' %>
    <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
  </div>
  <div data-role="fieldcontain">
      <%= f.label :card_verification, "Digitos de control (PIN)" %>
      <%= f.password_field :card_verification, :size => 4 %>
  </div>
  <div class="ui-body ui-body-b">
    <fieldset class="ui-grid-a">
      <div class="ui-block-a"><%= f.label :card_expires_on,'Fecha Vencimiento' %></div>
      <div class="ui-block-b"><%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %></div>
   </fieldset>
   </div>
  <div class="ui-body ui-body-b">
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <button id="btnCancel" data-theme="d" data-icon="delete">Cancelar</button>
          </div>
          <div class="ui-block-b">
            <button id="btnLogin" type="submit" data-theme="a" data-icon="check">Procesar</button>       
          </div>
        </fieldset>
      </div>
    <% end %>
