Transaccion Aprobada

Imprimiendo...
<ul>
  Tienda: Zapato Veloz<br/>
==============================================
<% @order.transactions.each do |transaction| %>
  <li>Estado:<%=transaction.message%></li>
  <li>Orden:<%=transaction.order_id%></li>
  <li>Tipo Operacion:<%=transaction.action%></li>
  <li>Monto en centavos:<%=transaction.amount%></li>
  <li>Autorización:<%=transaction.authorization%></li>
  <li>Data:<%=transaction.params%></li>
  <%end %>
</ul>
<%= link_to 'Nueva Compra', root_path %>
