<div class="lcddisplay dotmatrix">
Transaccion Aprobada

Imprimiendo...
<ul>
  Tienda: Zapato Veloz<br/>
==============================================
<% @order.transactions.each do |transaction| %>
  <li>Estado:<%=transaction.message%></li>
  <li>Orden:<%=transaction.order_id%></li>
  <li>Tipo Operacion:<%=transaction.action%></li>
  <li>Monto en centavos:<%=transaction.amount%></li>
  <li>Autorización:<%=transaction.authorization%></li>
  <li>Data:
  <%=transaction.params.each do |p|%>
    <li>p.to_s</li>
  <%end %>
<%end%>
</ul>
</div>
<%= button_to "Nueva Compra", :action => "new" %>
